<div class="editMeetingPage" id="editMeetingForm">
    <input class="input" name="meetingId" type="hidden" value="<%= meeting.MeetingId %>">
    <input class="input" name="userId" type="hidden" value="<%= meeting.UserId %>">
  
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Title</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input class="input" name="title" type="text" placeholder="Title" value="<%= meeting.Title %>">
          </p>
        </div>
      </div>
    </div>
    
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Date</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" name="meetingDate" type="date" placeholder="Meeting Date" value="<%= moment(meeting.MeetingDate).format('YYYY-MM-DD') %>">
          </div>
        </div>
      </div>
    </div>
  
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Ateendees</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" name="attendees" type="text" placeholder="In case of multiple attendees use Pipe | as seperator. Ex: abcd@gmail.com|abcd1@gmail.com" value="<%= meeting.attendees %>">
          </div>
        </div>
      </div>
    </div>
      
    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-primary" onclick="editMeetingForm('editMeeting', '/meetings', '/VEDmeeting')">
              Edit Meeting
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>