<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Title</th>
        <th>Meeting Date</th>
        <th>Attendees</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% for (var meetingIndex = 0; meetingIndex < meetings.length; meetingIndex++) { %>
      <tr>
        <td><%= meetings[meetingIndex].Title %></td>
        <td><%= moment(meetings[meetingIndex].MeetingDate).format('MMM-DD-YYYY') %></td>
        <td><%= meetings[meetingIndex].attendees %></td>
        <td><a href="/editMeeting/<%= meetings[meetingIndex].MeetingId %>">Edit</a></td>
        <td><a onclick="deleteMeeting(<%= meetings[meetingIndex].MeetingId %>, '/VEDmeeting')">Delete</a></td>
      </tr>
      <% } %>
      
    </tbody>
  </table>